h1.intro {
  text-align: center;
}

.differentBg {
  background-color: black;
}

.jumbotron {
  background-image: linear-gradient(to bottom left, black, silver,white);
}

#picOne {
  float:left;
}

#picTwo {
  float:right;
}

#picThree {
  float: left;
}

.row {
  margin-bottom: 6%;
  margin-bottom: 6%;
}
